#root .wx-header {
    width: 100%;
}
#root .wx-column {
    /* min width */
    --wx-kanban-column-width: 150px;
    /* auto size */
    flex-grow: 1;
}
#root .wx-image img {
    object-fit: cover;
}

#root .wx-column {
    container-type: inline-size;
    container-name: column;
}

@container column (width >= 150px) {
    .wx-card .wx-field.wx-image {
        height: 50cqw;
    }
}
@container column (width < 250px) {
    .wx-footer .wx-users {
        display: none;
    }
}
@container column (width < 200px) {
    .wx-content .wx-footer {
        display: none;
    }
    .wx-body .wx-field {
        margin-bottom: 0 !important;
    }
    .wx-field > .wx-layout {
        display: none;
    }
}

#root .wx-kanban {
    container-type: inline-size;
    container-name: kanban;
}
@container kanban (width < 630px) {
    .wx-kanban .wx-sidebar-open {
        width: 100cqw;
        min-width: 100cqw;
    }
}
